<!DOCTYPE html>
<html>

<head>

    <title>About</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<!-- NAVBAR -->

<div class="navbar">

    <div class="logo">
        ODLEAVE <span>Connect</span>
    </div>

    <div class="nav-links">

        <a href="/">HOME</a>

        <a href="/student">STUDENT LOGIN</a>

        <a href="/faculty">FACULTY LOGIN</a>

        <a href="/about">ABOUT</a>

    </div>

</div>


<!-- MAIN -->

<div class="main">

    <div class="about-con">
   <h1>About ODLeave Connect</h1>

    <p>
        ODLeave Connect is a web-based leave and On-Duty (OD) request
        management system developed to simplify the process of applying,
        tracking, and approving student requests.
    </p>

    <p>
        Students can securely log in, submit OD or Leave requests,
        and monitor the approval status in real time.
        Faculty members can review requests and take appropriate
        actions by accepting or rejecting them through a dedicated dashboard.
    </p>

    <h2>Key Features</h2>

    <ul>
        <li>Student Login System</li>
        <li>OD Request Management</li>
        <li>Leave Request Management</li>
        <li>Faculty Approval Dashboard</li>
        <li>Request Status Tracking</li>
        <li>PDF Approval Letter Generation</li>
        <li>SQLite Database Integration</li>
    </ul>

    <h2>Project Objective</h2>

    <p>
        The objective of this project is to reduce manual paperwork,
        improve communication between students and faculty,
        and provide a simple digital solution for managing OD and Leave requests.
    </p>

</div>
        
</div>

</body>
</html>