<!DOCTYPE html>
<html>

<head>
    <title>ODLeave Request</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <!-- NAVBAR -->

    <div class="navbar">

        <div class="logo">
            ODLEAVE <span>Connect</span>
        </div>

        <div class="nav-links">

            <a href="/">HOME</a>

            <a href="/student">STUDENT LOGIN</a>

            <a href="/faculty">FACULTY LOGIN</a>

            <a href="/about">ABOUT</a>

        </div>

    </div>


    <!-- MAIN -->

    <div class="main">

        <div class="content-box">

            <h1>
                Welcome to ODLEAVE Connect Portal
            </h1>

            <p>
                This portal helps students to submit OD and LEAVE requests
                online quickly and easily without paperwork.
            </p>

            <div class="feature-box">

                <div class="feature">
                    Easy Apply
                </div>

                <div class="feature">
                    Faculty Approval
                </div>

                <div class="feature">
                    Track Status
                </div>

            </div>

        </div>

    </div>

</body>
</html>